<p> Hi <%= @first_name %>,

<p> I am delighted to share our insights with you! Attached below is your custom report what we think employee engagement, or rather, disengagement is costing <%= @company_name %>, and how Bluefeet can help.

<p> I’ll follow-up in a little bit to ask if you have any questions or feedback aboBluefeet.</p>
<p> Sincerely,</p>
<p> Ed Rogers</p>
<p> Co-founder and President</p>
