Hi <%= @first_name %>,

I am delighted to share our insights with you! Attached below is your custom report on what we think employee engagement, or rather, disengagement is costing <%= @company_name %>, and how Bluefeet can help.

I’ll follow-up in a little bit to ask if you have any questions or feedback about Bluefeet.

Sincerely,

Ed Rogers
Co-founder &amp; President
