.wrapper
  .content
    .logo

    .hr-dots

    .message
      %p Hi %Name,
      %p I am delighted to share our insights with you! Attached below is your custom report on what we think employee engagement, or rather, disengagement is costing %CompanyName, and how Bluefeet can help.
      .download-btn Download report
      - if defined? attachments
        = image_tag attachments['bluefeet-report.pdf'].url
      %p I’ll follow-up in a little bit to ask if you have any questions or feedback about Bluefeet.
      %p Sincerely,
      %p Ed Rogers <br> Co-founder & President

    .container-fluid.no-padding.blue-back
      .row
      .footer.footer-left.col-xs-6.white-right-border
        Follow Us
        %i.fa.fa-linkedin-square.fa-lg
        %i.fa.fa-twitter.fa-lg
        %i.fa.fa-facebook-square.fa-lg
        %i.fa.fa-instagram.fa-lg
      .footer.footer-right.col-xs-6
        .row
          .col-xs-4.white-right-border About Us
          .col-xs-4.white-right-border Why Bluefeet
          .col-xs-4 Request a Demo
  %p.opt-out-text
    This message was sent to you by Bluefeet. You may
    %a opt-out
    of receiving further emails.
    %br
    Bluefeet, 1601 Civic Center Dr. Suite 200 Santa Clara, CA 95050
