.div{style: 'margin-top: 15px; padding-top: 15px;'}
  %hr{ style: "margin-bottom: 10px; margin-top: 0px; border-top: 0.5px solid #333; width: 80%; float: left"}
  %span{style: 'float: right; position: relative; top: -0.5em;'}= DateTime.now.strftime('%B %d, %Y')

.row.vertical-align
  .col-xs-2
    = @params.key?('debug') ? image_tag('bluefeet-logo.jpg',  class: "img-responsive", id: "logo") : wicked_pdf_image_tag('bluefeet-logo.jpg',  class: "img-responsive", id: "logo")
  .col-xs-3
    %h1 Bluefeet
  .col-xs-2.col-xs-offset-5
    %p.lead A case for investing in people
-# TODO: Custom centered text hr

.divider
  %hr.left
  %span For all the finance geeks reading this
  %hr.right
