-# this dictionary is defined here because both the mailer and the report controller need to see it and it pertains directly to the content of this page.
- @input_names_dictionary = { "employeeCount" => "Employees", "teamGrowthRate" => "Annual growth rate (people)", "engagementRate" => "Engagement rate", "turnoverRate" => "Annual turn-over rate", "averageSalary" => "Average salary + bonus", "salaryGrowthRate" => "Annual salary growth rate", "weightedAverageCostOfCapital" => "Weighted average cost of capital (WACC)" }

.top-banner
  %p.banner-text-small Employee Engagement
  %p.banner-text-large matters
.top-text-div
  %p.top-text A case for investing in Bluefeet at
  %p.top-company-name= @company_name
.inputs-div
  %p.section-title CURRENT
  %p.section-subtitle Inputs provided using Bluefeet's calculator
  %table
    %tbody
      - @inputs.each do |key, hash|
        %tr
          %td.input-name-td
            %span.input-name= @input_names_dictionary[key]
            .dots &nbsp;
          %td.input-value
            - value = hash['value']
            - value *= 1000 if hash['type'] == 'k-dollars'
            - value_string = number_with_delimiter(value, delimiter: ',')
            - value_string = '$' + value_string if hash['type'] == 'k-dollars'
            - value_string += '%' if hash['type'] == 'percent'
            %p= value_string
.cost-div
  %p.section-title COST
  %p.section-subtitle{style: 'padding-left: 5px;'}
    Impact of employee disengagement
    <br>
    = "at #{@company_name}*"
  = high_chart("cost-chart", @cost_chart)
.meet-bluefeet-div
  %p.meet-bluefeet-title Meet Bluefeet
  %p.meet-bluefeet-text We intelligently connect people, skills, and opportunities together to create a thriving and engaging workplace, where people love what they do.
.benefits-div
  %p.section-title BENEFITS
  = high_chart("benefits-chart", @benefits_chart)
  -# dots-right is absolutely positioned at the right of the div
  .dots-right
.roi-div
  %p.section-title{ style: "position: relative; left: 10px;" } ROI

  .roi-section
    -# net present value
    - npv = @results['bluefeetNetPresentValue']
    - npv_string =   number_with_delimiter(npv,delimiter: ',')
    %p.roi-value.green= "$#{npv_string}"
    %p.roi-subtext.green net present value

  .hr-dots#hr1

  .roi-section
    -# payback period
    - payback_months = @results['paybackMonths']
    %p.roi-value.blue= "#{payback_months} months"
    %p.roi-subtext.blue payback period

  .hr-dots#hr2

  .roi-section
    -# rate of return
    - irr = @results['internalReturnRate']
    %p.roi-subtext.orange rate of return
    %p.roi-value.orange= "#{irr}%"

  %p.disclaimer
    *Calculations based on inputs provided on website calculator, an average product cost of $29 per employee, and industry data.
    %sup 1

.footer
  %p.footer-text
    Connect with Bluefeet to learn more.
    &nbsp
    %i.fa.fa-envelope-o
    sales@bluefeet.com
    &nbsp;
    %i.fa.fa-phone
    (650) 687-7577

.assumptions-text.blue
  %sup 1
  Key Assumptions

.assumptions-box
  %p.assumption-header Engagement/Unengagement Turnover Ratio
  %p.assumption-body Calculated at 13%. According to the Corporate Leadership Council, highly engaged employees are 87% less likely to leave the organization.
  %p.assumption-source Source: Driving Performance and Retention Through Employee Engagement: a qantitative analysis of effective engagement strategies', Corporate Leadership Council, 2004

  %p.assumption-header Cost of Ineficiency Due to Unengagement
  %p.assumption-body Calculated at 34%. McLean & Company found that unengaged employees costs organization an average of $3,400 per year, for every $10,000 in annual salary.
  %p.assumption-source Source: Powering Your Bottom Line Through Employee Engagement, McLean & Company, 2012

  %p.assumption-header Expected Engagement After 5 Years, Without Bluefeet
  %p.assumption-body Calculated at 30%. According to a 2015 Gallup pole, 52% of workers are not engaged, and worse, another 18% are actively disengaged in their work, leaving just 30% of employees engaged.
  %p.assumption-source Source: State of American Workplace, Gallup, 2015


.footer#footer2
  %p.footer-text
    Connect with Bluefeet to learn more.
    &nbsp
    %i.fa.fa-envelope-o
    sales@bluefeet.com
    &nbsp;
    %i.fa.fa-phone
    (650) 687-7577
