.container
  #calculator-gui.row
    %h1 Calculator
    .calculator-sections
      - @inputs.each do |key, name|
        %section.calculator-section.col-xs-6.col-sm-2{ id: "#{key}-section"}
          %fieldset
            %label{ for: "#{key}" }= name
            %input{ id: "#{key}-text", name: "#{key}", type: 'text' }
            .slider{ id: "#{key}-slider" }
            .slide-min{ id: "#{key}-slide-min", style: 'float: left;' }
            .slide-max.pull-right{ id: "#{key}-slide-max", style: 'float: right;' }

  #chart-div

  #results.row
    %h1 Results
    - @results.each do |key, name|
      %section.result-section.col-xs-6.col-sm-2{ id: "#{key}-section" }
        %fieldset
          %label{ for: "#{key}" }= name
          .result-value{ id: "#{key}" }

  #submit.row
    %h1 Next Step
    %section.col-xs-3
      -# This form is submitted by ajax in calculator.js.coffee, params are manually
      -# inserted there because we need to pass the results with the submit.
      = form_tag do
        = label_tag "Give us your email and we'll send you a PDF of these results"
        = text_field_tag :first_name, nil, placeholder: 'Your Name'
        = text_field_tag :company_name, nil, placeholder: 'Company Name'
        = text_field_tag :email, nil, placeholder: 'Email'
        = submit_tag 'Send Email', class: 'padded-btn btn btn-success pull-right', id: 'report-submit'
