body {
  font-family: arial;
}

.wrapper {
  background-color: rgb(218, 241, 252);
  padding: 45px 40px;
  white-space: nowrap;
}

.content {
  background-color: white;
  white-space: normal;
}

.logo {
  background-image: url(logo.png);
  background-size: 230px 90px;
  width: 230px;
  height: 90px;
  margin-left: 20px;

  position: relative;
  top: 6px;
}

.hr-dots {
  display: block;
  overflow: hidden;
  height: 25px;
  // Repeated blue dots filling row
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='3'><circle cx='1' cy='1' r='1' fill='#5DC9E6' /></svg>");
  background-position: center;
  background-repeat: repeat-x;
 }

.message {
  margin-left: 50px;
  margin-right: 70px;
  padding-bottom: 45px;
  font-size: 10pt;
}

.download-btn {
  display: block;
  width: 145px;;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 4px 6px 7px #c5c5c5;
  -moz-box-shadow: 4px 6px 7px #c5c5c5;
  box-shadow: 4px 6px 7px #c5c5c5;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #4E70B7;
  padding: 10px 18px 10px 18px;
  text-decoration: none;
  margin-bottom: 12px;
}

.download-btn:hover {
  background: #5DC9E6;
  text-decoration: none;
}

.blue-back {
  background-color: #5DC9E6;
}

.white-right-border {
  border-right: solid 1px white;
}

.no-padding{
  padding: 0;
}

.footer {
  color: white;
  text-align: center;
}

.footer-left {
  padding: 20px 4px 20px 30px;
  min-height: 60px;
  font-size: 12pt;
}

.footer-right {
  min-height: 60px;
  font-size: 10pt;
  padding: 24px 20px 5px 5px;
}

i {
  padding: 5px;
}

.opt-out-text {
  text-align: center;
  color: rgb(37, 144, 206);
  font-size: 8pt;
}

.opt-out-text a {
  text-decoration: underline;
  color: inherit;
}
