// wkhtmltopdf seems to act reliably if you specify your size in pixels and then
// give a zoom level. The difficulty arises from the fact that wkhtmltopdf will
// render a different pdf on different machines. Using the pixels and zoom technique
// you allow the server to be different than the development device by setting a
// zoom level.
html {
  width: 850px;
  height: 1100px;
}

html, body, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  table-layout: fixed;
}

td {
  height: 23px;
}

.top-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 850px;
  height: 110px;
  padding-top: 65px;


  background-color: #5dc9e6;
}

.banner-text-small {
  font-size: 22pt;
  text-align: center;
  color: white;
  font-weight: 200;
}

.banner-text-large {
  font-size: 68pt;
  text-align: center;
  color: white;
  line-height: 48pt;
}
.top-text-div{
  position: absolute;
  top: 175px;
  height: 45px;
  width: 850px;
  padding-top: 5px;
}

.top-text {
  font-weight: 200;
  color: #555;
  text-align: center;
}

.top-company-name {
  font-weight: 400;
  text-align: center;
  font-size: 18pt;
}

.inputs-div {
  position: absolute;
  left: 0;
  top: 225px;
  width: 450px;

  padding-left: 50px;
  padding-top: 4pt;
  padding-bottom: 20pt;
}

.section-title {
  font-weight: 200;
  font-size: 18pt;
  color: #1589CB;
}

.section-subtitle {
  font-weight: 100;
  font-size: 10pt;
  margin-top: 5pt;
  color: #555;
}

table {
  margin-top: 5pt;
}

.input-name-td {
  width: 285px;
}

.input-name {
  background-color: #DAF1FC;
  color: #444;
  font-size: 10pt;
  font-weight: 200;

  float: left;
  line-height: 16pt;
  padding-left: 2pt;
  padding-right: 4pt;
}

// I know, I know, this seems crazy. But it is the only way to get a custom dotted line into wkhtmltopdf. You'll see it three times in this document.
.dots {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: 0px;
  color: #1589CB;
  font-size: 10pt;
}

.dots:after {
  content: "..............................................................";
}

.input-value {
  text-align: right;
  font-size: 10pt;
  color: #aaa;
  font-weight: 100;
  width: 75px;
}

.cost-div {
  position: absolute;
  top: 225px;
  left: 429px;
  width: 370px;
  height: 345px;

  padding-right: 50px;
}

#cost-chart {
  height: 290px; // height depends on space taken up by section title
                // it must be specified however due to the way hight charts works
  width: 370px;
  background-color: none;
}

.meet-bluefeet-div {
  position: absolute;
  top: 490px;

  padding-left: 50px;
  padding-right: 33px;
  padding-top: 5px;
  width: 362px;
  height: 105px;

  background-color: #1589CB;
}

.meet-bluefeet-title {
  color: white;
  font-size: 22pt;
  line-height: 36pt;
  font-weight: 700;
}

.meet-bluefeet-text {
  color: white;
  font-weight: 200;
  font-size: 10pt;
}

.benefits-div {
  position: absolute;
  top: 597px;
  width: 395px;
  height: 356px;
  padding-top: 7px;
  padding-left: 50px;
}

#benefits-chart {
  height: 340px; // height depends on space taken up by section title it must be specified however due to the way high charts works
}

.roi-div {
  position: absolute;
  left: 444px;
  top: 535px;
  width: 405px;
  height: 426px;
}

.roi-section {
  padding-top: 20px;
  padding-bottom: 25px;
}

.roi-value {
  font-size: 36pt;
  position: relative;
  left: 40px;
}

.roi-subtext {
  position: relative;
  font-size: 18pt;
  left: 40px;
}

.green {
  color: #c3d63f;
}

.orange {
  color: #fecb2f;
}

.blue {
  color: #5DC9E6;
}

.dots-right {
  position: absolute;
  left: 455px;
  top: 0px;

  overflow: hidden;
  white-space: nowrap;
  color: #1589CB;
  transform: rotate(90deg);
	transform-origin: left top 0;

  font-size: 14pt;
}

.dots-right:after {
  content: "............................................................";
}

.hr-dots {
  position: absolute;

  overflow: hidden;
  white-space: nowrap;
  color: #1589CB;

  font-size: 14pt;
}

.hr-dots:after {
  content: "........................................................................................";
}

#hr1 {
  left: 0px;
  top: 130px;
}

#hr2 {
  left: 0px;
  top: 250px;
}

.disclaimer{
  position: relative;
  font-size: 8pt;
  color: #aaa;
  left: 10px;
  padding-right: 65px;
}

.footer {
  position: absolute;
  left: 0;
  top: 960px;
  height: 140px;
  width: 850px;

  background-color: #5dc9e6;
}

.footer-text {
  position: relative;
  top: 27px;
  left: 70px;
  color: white;
  font-size: 14pt;
}

.assumptions-text {
  position: absolute;
  top: 1186px;
  left: 60px;
  font-size: 14pt;
}

.assumptions-box {
  position: absolute;
  left: 60px;
  top: 1210px;
  width: 733px;
  height: 305px;
  padding-left: 6px;

  border: solid 1px #5DC9E6;
}

.assumption-header {
  font-size: 12pt;
  color: #2E77AF;
  padding-top: 8px;
  padding-bottom: 2px;
}

.assumption-body {
  font-size: 12pt;
  color: #666;
}

.assumption-source {
  padding-top: 16px;
  font-size: 12pt;
  color: #999;
}

#footer2 {
  position: absolute;
  top: 2060px;
}
