!!!
%html
  %head
  %title Test PDF
  -# Stylesheets, provided by CDN as described in Wicked PDF issue #45
  -# https://github.com/mileszs/wicked_pdf/issues/450
  -# = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  = stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
  = wicked_pdf_stylesheet_link_tag "report"

  -# Likewise for the Javascripts so we'll pull in jquery manually
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
  = javascript_include_tag "http://code.highcharts.com/highcharts.js"
  = javascript_include_tag "http://code.highcharts.com/highcharts-more.js"
  %body
    = yield
  -# Custom javascript for high charts
  :javascript
    Highcharts.seriesTypes.line.prototype.drawLegendSymbol = Highcharts.seriesTypes.area.prototype.drawLegendSymbol;
    Highcharts.setOptions({
      lang: {
        numericSymbols: null //otherwise by default ['k', 'M', 'G', 'T', 'P', 'E']
      }
    });
